
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


    
    <ul>@Html.ActionLink("Svenska", "Change", "Language", new { LanguageAbbrevation = "Sv" }, null)</ul>
    <ul>@Html.ActionLink("Engelska", "Change", "Language", new { LanguageAbbrevation = "En" }, null)</ul>
    @*<li>@DateTime.Now.ToString()</li>*@


