@{
    ViewBag.Title = "Home Page";
}

 
<div class="jumbotron">
    <h1>DejtProjekt</h1>
    <p class="lead">Gör som <a href= "/Usermodels/Details/1" >Donald Trump</a>, <a href="/Usermodels/Details/2">Vladimir Putin</a>, <a href="/Usermodels/Details/3">Stefan Löfven</a> och <a href="/Usermodels/Details/4">Angela Merkel</a> , bli medlem idag!</p>
    <p><a href = "/loggIn/Register" class="btn btn-primary btn-lg">Bli medlem</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="/Usermodels/Details/4">
            <img src="~/Content/Images/Angela3.jpg" alt="Angela Merkel" style="width:304px;height:228px;">
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Usermodels/Details/1">
            <img src="~/Content/Images/Donald3.jpg" alt="Donald Trump" style="width:304px;height:228px;">
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Usermodels/Details/2">
            <img src="~/Content/Images/Putin3.png" alt="Vladimir Putin" style="width:304px;height:228px;">
        </a>
    </div>
    <div>
    <h2>All Posts</h2>
    <ul id="posts" />
</div>
<div>
    <h2>Search by ID</h2>
    <input type="text" id="MessageId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="post" />
</div>

    <h2>Add </h2>
    <input type="text" id="Message" size="5" />
   <input type="button" value="Search" onclick="add();" />
</div>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var uri = '/../api/OurApi';

    $(document).ready(function () {
      // Send an AJAX request
      $.getJSON(uri)
          .done(function (data) {
            // On success, 'data' contains a list of posts.
            $.each(data, function (key, item) {
              // Add a list item for the post.
              $('<li>', { text: formatItem(item) }).appendTo($('#posts'));
            });
          });
    });

    function formatItem(item) {
      return item.Message;
    }

    function find() {
      var id = $('#MessageId').val();
      $.getJSON(uri + '/' + id)
          .done(function (data) {
            $('#post').text(formatItem(data));
          })
          .fail(function (jqXHR, textStatus, err) {
            $('#post').text('Error: ' + err);
          });
    }

    function Add() {
        var message = $('#Message').val();
        var author = 1;
        var wall = 2;
        $.ajax({
            type : "POST",
            contentType: "application/json; charset=utf-8",
            data:{"post:" + JSON.stringify(post)+ ")"},
            url:"Home/GetData",
            success:function(data)
            {
                alert("Booooom  ")            
            },
            error: function(result){
                alert("Something went wrong");
            }     
            
        
        })
    }



        function


    </script>

 




 
     
 